{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
                                                                             
  <div class="table-responsive" class="education">          
  <table class="table" >
    <thead>
      <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Title</th>
      <th scope="col">Author Name</th>
      <th scope="col">Year</th>
    </tr>
      {%for i in booklist%}
    <tr>
        {% for j in i%}
        <td><a href ="https://gogle.com">{{j}}</a></td>
        {% endfor%}
    </tr>
      {%endfor%}
    </table>
  </div>
</div>

{% endblock %}