<!doctype html>
<html>
    <head>
        <title>Home</title>
        <style>
        	body 
        	{
			  font-family:      Verdana, Geneva, Arial, sans-serif;
			  font-size:        medium;
			  background-color: tan;
			  margin:           5em 5em 5em 5em;
			  border:           1px dotted gray;
			  padding:          1em 1em 1em 1em;
			}

        </style>
    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}	
    </body>
</html>