{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="col next">
  <div align="center">
    <br>
        <div class="form-inline my-2 my-lg-0" style="display: inline-block;">
            <div class="form-group">
                <h2>
                Here you can search your favourite books and review them and see their rating and stars as per google reads
            </h2>
                <a class="btn btn-primary btn-lg" href="/search" role="button">Search</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
