<!--Will host /welcome html file -->
<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="style.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
         <meta charset="utf-8">
         <meta name="viewport" content ="width=device-width,initial-scale=1">
        <title>Introduction</title>
    </head>
    <body>
    	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" >Hi Welcome</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">Home</a></li>
		      <li><a href="/search">Search</a></li>
		    </ul>
		  </div>
		</nav>
    <div class="col next">
  <div align="center">
    <br>
        <div class="form-inline my-2 my-lg-0" style="display: inline-block;">
            <div class="form-group">
                <p>
                Here you can search your favourite books and review them and see their rating and stars as per google reads
            </p>
                <a class="btn btn-primary btn-lg" href="/search" role="button">Search</a>
            </div>
        </div>
    </div>
</div>
		</body>
</html>